
@{
    ViewBag.Title = "CountPercent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ежесмеячный платеж в течение @ViewBag.Credit.NumberOfMonths месяцев</h2>
<div><font size="5">@ViewBag.Ammount рублей</font></div>

